<div class="field">

  <div class="card-stack">
    @for(card of [0,1,2,3,4,]; track card; let index = $index) {
      <img [ngStyle]="{'right.px': index*5}" src="./../../assets/img/card_cover.png" alt="">
    }
    <img (click)="pickCard()"  class="top-card" style="right: 25px" src="./../../assets/img/card_cover.png" alt="">

    @if(pickCardAnimation) {
      <img (click)="pickCard()"  class=" pick-card" style="right: 25px" src="./../../assets/img/{{currentCard}}.png" alt=""> 
      <!-- currentCard gives random card at every click -->
    }
    
  </div>

</div>
